@{
    ViewBag.Title = "Recipes";
}
@model dynamic
<div class="container">
    <div class="jumbotron">
        <h1>My Recipes</h1>
        <p><a class="btn btn-success" href="/Home/Instructions">View Instructions</a></p>
    </div>

    <div class="row">
        @foreach (var recipe in Model)
        {
            <a href=""></a>
        }
    </div>
</div>