@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="jumbotron">
        <div class="h2">Welcome, bakers!</div>
        <div class="h3">Put on your chef's hat for a technical challenge.</div>
    </div>
    <div class="content">
        <div class="h3">Instructions</div>
        <p>
            Today we ask you to prepare for us a small website that displays a list of food recipes.<br />
            The recipes are stored on a local server so all the data you need is on here.<br />
            We ask that you follow the requirements below so you can show off your various skills!
        </p>
        <ol>
            <li>Use this project as your boilerplate. We have taken the liberty to set-up a basic MVC project for you to follow.</li>
            <li>On the Index page, please show links for dish names stored in the database.</li>
            <li>
                Clicking on each item should display more information such as...
                <ul>
                    <li>Preparation Time</li>
                    <li>Number of Servings</li>
                    <li>List of Ingredients</li>
                    <li>Cooking Instructions</li>
                </ul>
            </li>
            <li>
                The data can be retrieved from a local SQL Server instance
                <ol>
                    <li><b>Server Name</b>: PERSPECTA_INTER</li>
                    <li><b>Database Name</b>: GreatPerspectaBakeOff</li>
                </ol>
            </li>
        </ol>
        <div class="h3">Tips</div>
        <ol>
            <li>Don't be afraid to ask an interviewer a question if you have hit a road-block.</li>
            <li>Feel free to ask about installing additional middleware to help with your task.</li>
            <li>The timeframe for this task is flexible and can be discussed with the interviewer.</li>
            <li>We want to see a breadth of skills, so don't spend too much time perfecting each task.</li>
        </ol>

        <div class="h3" style="margin-top:3rem"><i>Get ready, set, bake!</i></div>
    </div>
</div>